<html>
<head>
<title>page8</title>
</head>
<style>
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
<body bgcolor="khaki">
<ul>
<li><a class="active" href="#home">Home</a></li>
<li><a href="#news">News</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="#about">About</a></li>
</ul>

<form action="page9.html" method="post">
<h1 align="center">EXPERIENCE</h1>
TOTAL EXPERINCE<input type="number" years=" "palceholder="ENTER YEARS"><input type="number"months=" "palceholder="ENTER MONTHS"><br><br>
LOCATION<input type="text" location=" "placeholder="Enter location">
<center><input type="SUBMIT" value="NEXT">
</body>
</html>
