<html>
	
<head>		
<title>page1</title>

<style>
body {
background-image: URL("abc.jpg");
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
} 


</style>	
</head>
<body bgcolor="khaki">
<ul>
<li><a class="active" href="#home">Home</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="#about">About</a></li>
</ul>
<center><marquee><h1>WELCOME JOB RECRUITMENT.COM</h1></marquee></center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form action="page2.html" method="post">
<center>
<input type="SUBMIT" value="LOGIN"><a href="page2.html"></a>
</form><br><br> 
<h1 align="center">OR</h1><br><br>
<form action="page4.html" method="post">
<input type="SUBMIT" value="REGISTER"><a href="page4.html"></a>
</body>
</form>
</html>
