<html>
<head>
<title>page3</title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
</style>
</head>

<body bgcolor="khaki">
<ul>
<li><a class="active" href="#home">Home</a></li>
<li><a href="#news">News</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="#about">About</a></li>
</ul>
<form action="page4.html" method=post>
<h1 align="center">LOGIN</h1>
<center>EMAIL<input type="text"email=" " placeholder="ENETR EMAIL_ID">
<center>PASSWORD<input type="password"password=" " placeholder="ENTER PASSWORD">
<center><input type="button" value="LOGIN">
<h1 align="center">OR</h1>
<center><input type="SUBMIT" value="REGISTER"><a href="page4.html"></a>
</form>
</body>
</html>
